<table>
  <thead>
    <th>Comments</th>
    <th>Vote Count</th>
    <th>UpVote</th>
    <th>News Details</th>
  </thead>
  <tbody>
    <tr *ngFor="let i of hits$ | async">
      <ng-container *ngIf="!i?.hide">
        <td>{{ i?.num_comments }}</td>
        <td>{{ i?.points }}</td>
        <td>
          <a (click)="onVote(i)">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-caret-up"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"
              />
            </svg>
          </a>
        </td>
        <td>
          {{ i?.title }}
          <a [href]="i?.url" target="_blank">({{ i?.url }})</a>
          <span> by </span>
          {{ i?.author }}
          <span> {{ i?.created_at | timeAgo }} </span>
          <span>[</span>
          <a (click)="onHide(i)">Hide</a> <span>]</span>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<div class="container end">
  <a (click)="onPrevious()">Previous</a> <span>|</span>
  <a (click)="onNext()">Next</a>
</div>
